<div class="container">
<%= render 'header' %>
<br>
<div class="span3">
</div>

<div class"span10">

  <%= display_orders(Customer.find(params[:customer_id])) %>
</div>
<%= render 'foot' %>
</div>





